<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) {%>
            <ul class="cart__item-list ">
                <% products.forEach(p => { %>
                   <li class="cart__item">
                  
                       <h1><%= p.title %></h1> 
                        <h2>Quantity: <%= p.CartItem.Quantity %></h2>
                         <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" id="" value="<%= p.id %>">
                            <input type="hidden" name="productPrice" id="" value="<%= p.price %>">
                           <button class="btn" type="submit">
                               Delete
                           </button>
                        </form>
                  
                   
                    </li>
               <% }) %>
            </ul>
            <div >
                <form action="/create-order" method="POST">
                    <button class="btn" type="submit">
                        Order now!
                    </button>
                </form>
            </div>
          
        <% } else  {
                
             %> <h1> No Products in Cart!</h1>
        <%} %>
    </main>
    <%- include('../includes/end.ejs') %>